# Dependecies
node_modules/
dist/
build/

# Android/iOS Native folders (Humein wireless update ke liye inki zaroorat nahi hai)
android/
ios/

# Environment/Private files
.env
.firebaserc
*.log
.DS_Store

# Capacitor files
capacitor.config.json.bak
